@using Admin.EndPoint.Models.Dtos.Account
@model List<ReturnLoginViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 style="padding-right: 5%" class="text-white text-capitalize ps-3">لیست کاربران</h6>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">مشخصات</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">رول ها</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">وضعیت</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">تاریخ</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img style="width: 50px !important; height: 50px !important" src="~/Template/assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="@item.UserName">
                                            </div>
                                            <div style="padding-right: 2%" class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@item.FullName</h6>
                                                <p class="text-xs text-secondary mb-0">@item.PhoneNumber</p>
                                                <p class="text-xs text-secondary mb-0">@item.Email</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @foreach (var role in item.Roles)
                                        {
                                            <p class="text-xs text-secondary mb-0">@role</p>
                                        }
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        @if (item.IsActive)
                                        {
                                            <span class="badge badge-sm bg-gradient-success">فعال</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-sm bg-gradient-danger  ">غیر فعال</span>
                                        }
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            ویرایش
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

